body {
    font-family: Georgia, serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
header {
    background-color: #ADD8E6;
    color: light blue;
    padding: 10px;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav ul li a {
    color: light blue;
    text-decoration: none;
}

